  {# <div class="my-8">
    {% for block in blocks %}
      <div class="my-4">
        {% if block.type == 'text' %}
          {{ block.text }}
        {% elseif block.type == 'image' %}
          {% for image in block.image.all() %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div> #}


  {# Set the GraphQL query #}
{% set query %}
{
  entry(slug: "section1") {
    title
    postDate @formatDateTime(format: "d M Y")
    postDateAlt: postDate @formatDateTime(format: "Y-m-d")
    url
    ... on blog_blog_Entry {
      
      postContent {
        ... on postContent_text_BlockType {
          typeHandle
          text
        }
        ... on postContent_image_BlockType {
          typeHandle
          image {
            title
            url
          }
        }
      }
      postCategories {
        title
        url
      }
    }
  }
}
{% endset %}


{# Query the data via Twig! #}
{% set r = gql(query) %}
{# display data #}
<div class="grid-cols-12" style="margin-top:2em;">
 {%  for c in r.data.entry.postContent %}
     
        {% if c.typeHandle== 'image' %}
         <div class="grid  grid-cols-3" style="margin-left:2em">
          {% for image in c.image %}
           <div>
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          </div>
          {% endfor %}
          </div>
        {% endif %}
   {% endfor %}
</div>